# Virtual Environment
onepiecefightoutcome/

# Python
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# VS Code
.vscode/
*.code-workspace

# Data files
data/raw/*
data/processed/top_100_characters
!data/raw/.gitkeep
!data/processed/.gitkeep

# Model files
*.pkl
*.pth
*.h5
!src/models/svm_fight_predictor.pkl

# Logs
*.log
logs/

# Environment variables
.env
.env.local

# OS specific
.DS_Store
Thumbs.db

# Docker
.docker/